<h1> {{ siteName }} </h1>

<form [formGroup]="userProfileForm"  (ngSubmit)="onSubmit()" >

    <div formArrayName="mobiles">
          <h1>Enter Mobile Number</h1>
          <button (click)="addNewMobile()" >Add New Mobile</button>
           <br><br>
          <div *ngFor="let mob of mobiles.controls; let i=index">
            <label>Mobile {{ i + 1 }}</label>
            <input type="text" [formControlName]= 'i' >
            <br><br>
          </div>
    </div>
  <br><br>
  <button type="submit" >Submit</button>
</form>

<p>
  Display Form :  {{ displayForm }}
</p>

<p>
  Mobile 1 :  {{ mobile1 }}
</p>


<button (click)="logMobiles()" >Log Mobiles</button>

