
<div class="container">

  <h1> {{ siteName }} </h1>

  <div>
    <h2>Super Hero Form</h2>
    <form>

      <div class="form-group">
        <label  for="name">Super Hero Name</label>
        <input type="text" class="form-control" id="name">
      </div>

      <div class="form-group">
        <label  for="weapon">Hero Weapon</label>
        <select type="text" class="form-control" id="weapon">
            <option *ngFor="let wp of weapons" [value]="wp"> {{wp}}</option>
        </select>
      </div>

      <div class="form-group">
        <label  for="speciality">Speciality</label>
        <select type="text" class="form-control" id="speciality">
          <option *ngFor="let spec of specialities" [value]="spec"> {{spec}}</option>
        </select>
      </div>

      <div class="form-group">
        <label  for="realname">Real Name</label>
        <input type="text" class="form-control" id="realname">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>
</div>
